<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <title>Приймальна комісія</title>
</head>

<body>
<h3>Авторизація</h3>
<div th:if="${message}">
    <p th:text="${message}"/>
</div>

<div th:if="${param.error}">
    Ви ввели невірні данні!
</div>
<div th:if="${param.logout}">
    Ви вийшли з програми!
</div>
<form th:action="@{/login}" method="post">
    <div><input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/></div>
    <div><label>Email: <input type="text" name="username"/></label></div>
    <div><label>Пароль: <input type="password" name="password"/></label></div>
    <div><input type="submit" value="Увійти"/></div>
    <a href="/registration">Створити нового користувача</a>
</form>
</body>

</html>