<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <title>Приймальна комісія</title>
</head>

<body>
<h3>Редактування данних користувача</h3>
<form action="/user" method="post">
    <div><label>Ім'я: <input type="text" name="firstName" th:value="${user.firstName}"/></label></div>
    <div><label>Прізвище: <input type="text" name="lastName" th:value="${user.lastName}"/></label></div>
    <div><label>Email: <input type="text" name="email" th:value="${user.email}"/></label></div>
    <div><label>Активність: <input type="checkbox" name="active" th:checked="${user.active}"/></label></div>

    <div>Рівні доступу:
        <div th:each="accessLevel: ${accessLevels}">
            <input type="checkbox" th:name="${accessLevel}" th:value="${accessLevel}" th:checked="${user.accessLevels.contains(accessLevel)}"/>
            <label th:text="${accessLevel}"></label>
        </div>
    </div>

    <div><input type="hidden" name="userId" th:value="${user.id}"/></div>
    <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>

    <button type="submit">Зберегти зміни</button>
</form>
</body>

</html>