<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{faculty}">

<th:block th:replace="fragments/common::commonPage(_, ~{::main})">
    <main>
        <h3>[[${title}]]</h3>
        <a class="btn btn-primary mb-3" th:href="@{'/faculty/create'}">[[#{faculty.new}]]</a>
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">[[#{faculty.id}]]</th>
                <th scope="col">[[#{faculty.title}]]</th>
                <th scope="col">[[#{faculty.specialities}]]</th>
                <th scope="col">[[#{faculty.subjects}]]</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="faculty: ${faculties}">
                <th th:text="${faculty.id}"/>
                <td th:text="${faculty.title}"/>
                <td><div th:each="speciality, iterStat: ${faculty.specialities}" th:text="${!iterStat.last} ? ${speciality.title} + ', ' : ${speciality.title}"></div></td>
                <td><div th:each="examSubject, iterStat: ${faculty.examSubjects}" th:text="${!iterStat.last} ? ${examSubject.title} + ', ' : ${examSubject.title}"></div></td>
                <td>
                    <a th:href="@{'/faculty/edit?id=' + ${faculty.id}}">[[#{faculty.edit}]]</a>
                    <span th:if="${faculty.examSubjects.isEmpty() AND faculty.specialities.isEmpty()}">  |
							<a th:href="@{'/faculty/delete?id=' + ${faculty.id}}">[[#{faculty.delete}]]</a>
						</span>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</th:block>

</html>