<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title=#{NA_aplication}">

<th:block th:replace="fragments/common::commonPage(_, ~{::main})">
    <main>
        <h3>[[${title}]]</h3>
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">[[#{NA_aplication.id}]]</th>
                <th scope="col">[[#{NA_aplication.applicant}]]</th>
                <th scope="col">[[#{NA_aplication.speciality}]]</th>
                <th scope="col">[[#{NA_aplication.marks}]]</th>
                <th scope="col">[[#{NA_aplication.total_mark}]]</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="app : ${session.notAcceptedApps}">
                <th th:text="${app.id}"/>
                <td th:text="|${app.application.applicant.user.firstName} ${app.application.applicant.user.lastName}|"/>
                <td th:text="${app.application.speciality.title}"/>
                <td>
                    <div th:each="znoMark: ${app.application.znoMarks}"
                         th:text="|${znoMark.key.title}: ${znoMark.value} #{NA_aplication.points},|">
                    </div>
                    <div th:text="|Ср. балл аттестата: ${app.application.attMark} #{NA_aplication.points}|"></div>
                </td>
                <td th:text="${#numbers.formatDecimal(app.totalMark, 3, 2)} #{NA_aplication.points}"/>
                <td>
                    <a th:href="@{'/application/edit?id=' + ${app.id}}">[[#{NA_aplication.open}]]</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</th:block>

</html>